@page
@model AuthenticationTask.Pages.Auth.LoginModel
@{
}
<p style="color:red">@TempData["status"]</p>
<form method="post">
    <div>
        <label asp-for="Username"></label>
        <input asp-for="Username" />
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" />
    </div>
    <div>
        <input type="submit" value="Send" />
    </div>
</form>
